/bin/
/include
/lib
/lib64
/__pycache__
/share
pyvenv.cfg
.env
.idea/
Casas_disponibles.txt
/config/__init__.py
/config/__pycache__
/utils/__init__.py
/utils/__pycache__
/clases/__init__.py
/clases/__pycache__